/src/*_build/**
/src/llvm-project-fyp/**
/src/tests/**/*.ll
/src/tests/**/*.yaml
/src/benchmarks/llvm-test-suite/**
/src/benchmarks/test-suite-build/**
/src/scripts/script_venv/**
/src/scripts/optimization_report_parser/target/
